doctype html
html
  head
    title
      block title
    block stylesheets
    block scripts
  body
    header
      block content
        div
          img(src='/img/logo.jpg' alt ='logo should be here')
