extends layouts/layout

block title
  | The cookie test page

block content
  div
    if(monster.length != 0)
      p The value of the Monster Cookie is #{monster}
    else
      p The cookie is not set yet
