extends layouts/layout
block title
  | The home page

if showTests
  append stylesheets
    link(rel="stylesheet", href="/vendor/mocha.css")
  append scripts
    script(src="//code.jquery.com/jquery-2.0.2.min.js")
append content
  h1
    | The home page and under me a img Yeaah :)
  if showTests
    div
      p The showTests variable is true!, Time to some testign >:D
    #mocha
    script(src="/vendor/mocha.js")
    script(src="/vendor/chai.js")
    script(src="/qa/tests-global.js")
    if pageTestScript
      script(src="pageTestScript")
          
