extends layouts/layout
block title
  | Hood River Page
append content
  h1
    block title
  p
    | some text here and a link
    a(href="/tours/request-group-rate", class="requestGroupRate") Request Group Rate
